@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Sarabun:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Kanit", "Sarabun", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #C5A059;
  --color-brand-dark: #A37F3F;
  --color-brand-light: #F9F6F0;
  --color-brand-warm: #EFE9DC;
  --color-bg-natural: #F1F5F9;
  --color-stone-earth: #0B1325;
}

