@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Sarabun:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Kanit", "Sarabun", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #C28E5E;
  --color-brand-dark: #A57245;
  --color-brand-light: #FDF8F3;
  --color-brand-warm: #E6DCD1;
  --color-bg-natural: #F5F2ED;
  --color-stone-earth: #2D241E;
}

